<!-- Scroll Top Button -->
<button class="scroll-top-button" onclick="scrollToTop()" id="scrollTopButton">Top</button>

<!-- Menu Button -->
<button class="menu-button" id="menuButton" onclick="openSidebar('sidebarMain')">Menü</button>

<!-- SidebarMain -->
<div class="sidebar" id="sidebarMain">
  <div class="sidebar-content">
    <nav>
      <h3>Menü</h3>
      <ul>
        <hr>
        <li><a href="#" onclick="openSidebar('sidebarMechanics')">Mechanics</a></li>
        <li><a href="#" onclick="openSidebar('sidebarSessions')">Sessions</a></li>
        <li><a href="#" onclick="openSidebar('sidebarPCs')">PCs</a></li>
        <li><a href="#" onclick="openSidebar('sidebarNPCs')">NPCs</a></li>
        <li><a href="#" onclick="openSidebar('sidebarOrte')">Orte</a></li>
        <li><a href="#" onclick="goHome()">Home</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Sidebars -->
<div class="sidebar" id="sidebarOrte"><div class="sidebar-content">
    <nav>
    <h3>Orte</h3>
    <ul>
    <hr>
    {% for page in site.pages %}
        {% if page.path contains 'Orte/' and page.path contains '.md' %}
        <li><a href="{{ page.url | relative_url }}">{{ page.title | default: page.path | split: '/' | last | replace: '.md', '' }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>
</div></div>

<div class="sidebar" id="sidebarNPCs"><div class="sidebar-content">
    <nav>
    <h3>NPCs</h3>
    <ul>
    <hr>
    {% for page in site.pages %}
        {% if page.path contains 'NPCs/' and page.path contains '.md' %}
        <li><a href="{{ page.url | relative_url }}">{{ page.title | default: page.path | split: '/' | last | replace: '.md', '' }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>
</div></div>

<div class="sidebar" id="sidebarSessions"><div class="sidebar-content">
    <nav>
    <h3>Sessions</h3>
    <ul>
    <hr>
    {% for page in site.pages %}
        {% if page.path contains 'Sessions/' and page.path contains '.md' %}
        <li><a href="{{ page.url | relative_url }}">{{ page.title | default: page.path | split: '/' | last | replace: '.md', '' }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>
</div></div>

<div class="sidebar" id="sidebarPCs"><div class="sidebar-content">
    <nav>
    <h3>PCs</h3>
    <ul>
    <hr>
    {% for page in site.pages %}
        {% if page.path contains 'PCs/' and page.path contains '.md' %}
        <li><a href="{{ page.url | relative_url }}">{{ page.title | default: page.path | split: '/' | last | replace: '.md', '' }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>
</div></div>

<div class="sidebar" id="sidebarMechanics"><div class="sidebar-content">
    <nav>
    <h3>Mechanics</h3>
    <ul>
    <hr>
    {% for page in site.pages %}
        {% if page.path contains 'Mechanics/' and page.path contains '.md' %}
        <li><a href="{{ page.url | relative_url }}">{{ page.title | default: page.path | split: '/' | last | replace: '.md', '' }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>
</div></div>

<div class="overlay" id="overlay" onclick="closeSidebars()"></div>
