<!DOCTYPE html>
<html lang="{{ site.lang | default: "de" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/theme.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/font.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/menu.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>

  <body>
    <div class="wrapper">
      <header class="site-header">
          <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
          {% include search-box.html %}
          <button class="expand-collapse-button" onclick="expandCollapseAll()" id="expand-collapse-button">▾ All</button>
      </header>

      <div class="main-container">
        <main class="content">
          {{ content }}
        </main>
      </div>
    </div>

    {% include menu.html %}
    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
